@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h4 {
  font-size: 18px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  -webkit-user-drag: none;
}

.poster img {
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

nav {
  background-color: #121314;
  color: red;
  border-bottom: 1px solid #00ccb1;
}

nav .navbar-brand {
  -webkit-transition: 100ms;
  transition: 100ms;
}

nav .navbar-brand:hover {
  opacity: 0.7;
}

nav .navbar-brand:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: #111213;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#111213), to(rgba(17, 18, 19, 0.9))), url("../img/main-bg.jpg");
  background-image: linear-gradient(180deg, #111213, rgba(17, 18, 19, 0.9)), url("../img/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fafafa;
}

body:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: -1;
}

.navbar-brand i {
  color: #ffd000;
  font-size: 2rem;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.navbar-brand i span {
  padding-left: 0.2em;
  font-size: 1em;
  font-family: monospace, Cochin, Georgia, Times, "Times New Roman", serif, Times, serif;
}

.navbar-brand i:hover {
  opacity: 0.7;
}

#form {
  position: relative;
  margin: 0 auto;
  max-width: 700px;
}

#form input {
  font-size: 1.2rem;
  padding: 1.8rem;
  border-radius: 0.5rem;
  background-color: #181a1b;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
  color: lightslategrey;
}

#form input:focus {
  background-color: #fafafa;
  color: #121314;
}

.search-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1rem;
  color: #333333;
  position: absolute;
  right: 1.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
  padding: 8px;
  background: #181a1b;
  border-radius: 14px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
}

.card:hover {
  background: #242628;
}

.card:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.card .poster {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px;
}

.card .poster img {
  width: 100%;
  aspect-ratio: 3/4.5;
}

.card .poster.left {
  margin-bottom: 0;
}

.card .card-content h4 {
  overflow: hidden;
  color: #fafafa;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 2.5em;
}

#form-nav {
  width: 50%;
}

#input-search {
  width: 100%;
  max-width: 500px;
}

#loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: auto;
  border-color: white #ffffff1a #ffffff1a #ffffff1a;
  -webkit-animation: spin 0.5s infinite;
          animation: spin 0.5s infinite;
  opacity: 1;
}

#loader.center {
  position: absolute;
  top: 35%;
  right: 35%;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

/* sleleton elements */
.skeleton {
  background: -webkit-gradient(linear, left top, right top, from(#181a1b), color-stop(#222425), to(#181a1b));
  background: linear-gradient(90deg, #181a1b, #222425, #181a1b);
  background-size: 200%;
  animation: loader 1s infinite reverse;
}

.card-content.skeleton {
  width: 80%;
  border-radius: 8px;
}

.card-content.skeleton h4 {
  color: transparent;
}

/* skeleton animation */
@-webkit-keyframes loader {
  from {
    background-position: -100% 0;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes loader {
  from {
    background-position: -100% 0;
  }
  to {
    background-position: 100% 0;
  }
}
