body {
  min-height: 100vh;
  background-position: 0 20%;
}

body:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(17, 18, 19, 1), rgba(17, 18, 19, 0.8));
  backdrop-filter: blur(14px);
  z-index: -1;
}
